*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/bin
*/build
*/bin
**/bin
/captures
.externalNativeBuild
.cxx
local.properties
**/build
/.idea/*
!/.idea/codeStyles
/!temp
androidApp/src/main/play/contact-website.txt
androidApp/src/main/play/contact-phone.txt
